@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
	font-family: 'Titillium Web', 'sans-serif';
	font-weight:300;
	/*background-color: #524C4C;*/
	color: #898C8E;
}

@media(min-width:765px){
	.navbar-container {
		margin-bottom:60px;
	}
}

.main-header .container {
	border-bottom:1px solid #CFFFD9;
}

.main-footer .container {
	border-top:1px solid #CFFFD9;
	margin-top:40px;
	margin-bottom:10px;
	height:60px;
	padding:25px;
	font-size:14px;
}

.page {
	background-color: white;
}

.logo {
	font-family: 'Poiret One', 'sans-serif';
}


.logo-q, .logo-subtext, .logo-subtext-strong {
	
	color:#4BC264;
}

.logo-q, .logo-q-dark {
	text-transform: uppercase;
}

.logo-q, .logo-q-dark, .logo-subtext-strong {
	font-weight:bold;

}

.navbar-toggle {
	color:#4BC264;
}

.section-title, .page-title, .elegant {
	font-family: 'Poiret One', sans-serif;
}

.title-underline {
	padding-bottom:5px;
	border-bottom: 1px solid #eee;
	margin-bottom:10px;
}

.intro-title {
	font-size:58px;
	font-weight: normal;
}

.intro-big {
	font-size:30px;
}

.intro-mid {
	font-size:20px;
}



.normal-title, h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', sans-serif;
}



.candidate-photo {
	height:130px;
	width:130px;
}

.vote-radio {
	position:relative;
	top:50px;
}

.vote-button-container {
	border-top: 1px solid #eee;
	margin-top:30px;
	padding-top:30px;
}

.vote-result-wrapper {
	width:130px;
	height:130px;
	padding:30px;
	
	background-color:#eee;
	
}

.vote-percent {
	font-size:20px;
	text-align:center;
	font-weight:bold;
}

.vote-count {
	text-align:center;
}