@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
	font-family: 'Titillium Web', 'sans-serif';
	font-weight:300;
	/*background-color: #524C4C;*/
}

.page {
	background-color: white;
}

.logo {
	font-family: 'Poiret One', 'sans-serif';
}


.logo-q, .heading-highlight {
	font-weight:bold;
	color:#4BC264;
}

.section-title, .page-title {
	font-family: 'Poiret One', sans-serif;
}

.title-underline {
	padding-bottom:5px;
	border-bottom: 1px solid #eee;
	margin-bottom:10px;
}

.normal-title, h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', sans-serif;
}

.candidate-photo {
	height:130px;
	width:130px;
}

.vote-radio {
	position:relative;
	top:50px;
}

.vote-button-container {
	border-top: 1px solid #eee;
	margin-top:30px;
	padding-top:30px;
}
